 * {
            margin: 0;
            padding: 0;

            a {
                color: white;
                background-color: black;
                text-decoration: none;
                padding: 0.5rem;
                border: none;
                border-radius: 5px;


            }

        }

        .tap-img-1 {
            height: 78%;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;

        }

        .tap-img-1 img {
            height: 40vh;
            /* width: 30vw; */
            margin: 10px;
        }

        .rate-1 {
            display: flex;
            flex-direction: row;
        }

        .cover-page {

            height: auto;
            width: 27%;
            margin: 12px;

            padding: 25px;
            border-radius: 10px;
            background-color: rgb(253, 251, 251);
            box-shadow: 0px 0px 19px 5px;
        }




        .buynow button {
            border: none;
            margin: 16px 0px;


        }

        .container {
            height: 90;
            background-color: rgba(233, 230, 230, 0.6);
        }

        .discount {
            font-size: large;
            color: red;
            font-weight: 600;
        }

        .discount :nth-child(2) {
            text-decoration: line-through;
            color: rgb(61, 60, 60);
        }

        .rate-wrapper {
            display: flex;
            font-weight: 600;
            font-size: 18px;
            margin: 5px 0px;
        }

        .txt1 {
            font-size: 21px;
            font-weight: 600;
            padding: 12px 0px;
        }

        /* this is nav style  */
        nav {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 1rem 2%;
            background-color: rgba(239, 237, 237, 0.6);
            color: black;
            font-size: 20px;

        }

        .about {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 10px;
            padding: 10px;
        }

        nav .img img {
            height: 105px;
            width: 110px;
        }

        nav .brandname {
            font-weight: bold;
            font-size: 30px;
        }

        nav .about a {
            text-decoration: none;
            color: rgb(245, 240, 240);
        }

        .mrp {
            color: black;
            text-decoration: none;
            margin: 3px;
        }

        .include-tax {
            margin: 5px 0px;
        }

        .prnt-buy-now {
            width: 100%;
            display: flex;

        }

        .in-stock {
            color: green;
            margin: 5px 0px;

        }

        .prnt-thanx {
            height: 100px;
            width: 38%;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .thanx {
            height: 40px;
            width: 80%;
            background-color: black ;
            color: white;
            border-radius: 8px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-weight: 800;

        }

        @media (max-width:768px) {
            * {
                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                font-size: 16px;

            }

            .tap-img-1 img {
                height: auto;
                width: 70vw;
            }

            .tap-img-1 {
                height: 100%;
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;

            }

            .cover-page {

                height: auto;
                width: 82%;
                margin: 12px;

                padding: 25px;
                border-radius: 10px;
                background-color: white;
            }

        }

        @media (max-width: 768px) {
            nav {
                flex-direction: row;
                align-items: center;
                gap: 15px;
                margin-bottom: 10px;
            }

            .img img {

                width: 85px;
            }

            nav .brandname {
                font-size: 24px;
            }

            .prnt-thanx {
                height: 100px;
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
            }

            .thanx {
                height: 40px;
                width: 80%;
                background-color: black;
                color : white;
                border-radius: 8px;
                display: flex;
                justify-content: center;
                align-items: center;
                font-weight: 800;

            }
        }